
<p>
  <%= @memo.memo_title %>
</p>
<p>
  <%= @memo.memo_description %>
</p>

<button onclick="location.href='/memos/<%= @memo.memo_id %>/edit'">変更</button>

<form method="post" action="/memos/<%= @memo.memo_id %>">
  <input type="hidden" name="_method" value="delete">
  <input type= "submit" value="削除">
</form>
